@font-face {
    font-family: 'Paperlogy 1';
    src: url('Paperlogy-1Thin.woff2') format('woff2'),
        url('Paperlogy-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 2';
    src: url('Paperlogy-2ExtraLight.woff2') format('woff2'),
        url('Paperlogy-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 3';
    src: url('Paperlogy-3Light.woff2') format('woff2'),
        url('Paperlogy-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 4';
    src: url('Paperlogy-4Regular.woff2') format('woff2'),
        url('Paperlogy-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 6';
    src: url('Paperlogy-6SemiBold.woff2') format('woff2'),
        url('Paperlogy-6SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 5';
    src: url('Paperlogy-5Medium.woff2') format('woff2'),
        url('Paperlogy-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 7';
    src: url('Paperlogy-7Bold.woff2') format('woff2'),
        url('Paperlogy-7Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 9';
    src: url('Paperlogy-9Black.woff2') format('woff2'),
        url('Paperlogy-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Paperlogy 8';
    src: url('Paperlogy-8ExtraBold.woff2') format('woff2'),
        url('Paperlogy-8ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

